@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 4000px) and (min-width: 821px){
body {
	color: #000;
	background: #975656;
	font-size:100%;
}
#contenedor {
	width: 1200px;
	background: #CAB3F5;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #FCCE8D;
	float: left;
	width: 1200px;
}
ul {
	list-style-type:none;
}
a {
	color:#000000;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;

	width: 1200px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 1200px;
}
}

@media only screen and (max-width: 800px) and (min-width: 200px){
body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #F9D270;
	float: left;
	width: 800px;
}
ul {
	list-style-type:none;
}
a {
	color:#000000;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;

	width: 800px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 800px;
}
}