<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="http://localhost:3000/prueba">Prueba1</a></li>
        <li><a href="http://localhost:3000/prueba2">Prueba2</a></li>
        <li><a href="http://localhost:3000/prueba3">Prueba3</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
