body {
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(167, 16, 16);
}

header {
    background-color: rgb(16, 8, 33);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

h2 {
    font-family: 'Orbitron';
    color: rgb(255, 251, 251);
    font-size: 90 px;
    font-weight: 90;
    margin-left: 30px;
    padding-bottom: 50px;

}

nav {
    font-family: 'Orbitron';
    word-spacing: 20px;
    font-size: larger;
    background-color: rgb(230, 53, 53);
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    padding: 3px 6px;
    display: block;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: gold;
    color: red;
  }

main {

    position: absolute;
    overflow: hidden;
}

main img {
    float: left;
    width: 75%;
    object-fit: cover;
}








a:hover {
  background-color: gold;
  color: red;
}




body {
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #F7F5F5;
}


.slider {
  width: 100%;
  height: 100vh;
  background-position: c 0%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50px;
}

.slider .contexto {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: thick;
}

.contexto {
  border-radius: 25px;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  margin-top: 19%;
  margin-left: 3%;
  background: #910404;
  border: #910404;
  width: 50%;
  position: absolute;
  vertical-align: baseline;
  opacity: 95%;
}

.contexto h1 {
  font-family: 'MuseoModerno';
}

.contexto p {
  color: #ECE7E7;
  font-family: 'arial';
  line-height: 30px;
  opacity: 100%;
}

.boton {
  opacity: 100%;
  color: #ECE7E7;
  background-color: #f70000;
  width: 140px;
  height: 64px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  text-decoration: none;

}

.boton a {
  color: #ECE7E7;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 100%;
}

.boton:hover {
  background-color: gold;
}



.boton a:hover {
  color: red;
}


* {
  box-sizing: border-box;
}

.header {}

.contenedor {
  position: relative;
}

.logo {
  background-color: red;
  width: 150px;
  height: 40px;
  right: 32px;
  position: absolute;
  top: 32px;
  opacity: 100%;
}

footer {
  height: 95%;
  background-color: #f42d1b;
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 5%;
  color: #ECE7E7;
  font-family: 'MuseoModerno';
}

footer a {
  color: #ECE7E7;
}

footer .col1 {
  width: 30%;
}

.col2 h1 {
  margin-left: 40px;
  color: #f42d1b;
  font-size: 20px;
}

.col2 li {
  color: #f42d1b;
}

.col1 h1 {
  color: #FFFFFF;
  font-size: 20px;
}

.col1 {
  float: left;
  margin-left: 0px;
}

.col2 {
  margin-left: 40px;
}

footer .col2 {
  margin-left: 120px;
}

@media (min-width: 768px) {
  .boton {}


}