h1{
font-family: "Lucida Console", "Courier New", monospace;
color:rgb(219, 0, 0);
font: size 100px;
text-transform: uppercase;
text-align: center;
}
Ul.center-list{
  list-style: none inside;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
  }
img{
  box-shadow: 16px 5px 10px 1px #c07272;
  border: 06px solid #f16a6a;
    border-radius: 30px;
    display:block;
    margin:auto;
    }
body {background: radial-gradient( #000000 44%, #7B3131 100%);
        color:rgb(255, 255, 255);}
    h3{color:rgb(190, 0, 0);}
    h4{color:rgb(197, 0, 0);}
    
    